*.db
*.sqlite
*.sqlite3

venv/
.venv/

__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/
*.swp
*.swo

*.log

build/
dist/
*.egg-info/
*.egg

.pip-cache/

*.ini
*.cfg
*.conf

Pipfile
Pipfile.lock

.DS_Store
Thumbs.db

.coverage
htmlcov/
.pytest_cache/